/*В данном файле находятся все дополнительные стили для Формы ввода и Канваса*/
form {
    margin-top: 17%;
    padding: 10px 15px;
    width: 310px;
    min-height: 310px;
}

canvas {
    padding: 5px;
    margin: 17% 0;
}

/*Смена расцветки таблицы при переключении режимов с десктопного, планшетного и мобильного*/
/*Мобильный*/
@media screen and (max-width: 672px) {
    .desktop-canvas {
        display: block;
        justify-content: center;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    .desktop-form {
        display: block;
        justify-content: center;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }
}
/*Планшетный*/
@media screen and (min-width: 672px) and (max-width: 1100px)  {
    .desktop-canvas {
        display: block;
        justify-content: center;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 60%
    }
    .desktop-form {
        display: block;
        justify-content: center;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 60%
    }
}
/*Десктоп*/
@media screen and (min-width: 1100px) {
    .desktop-canvas {
        float: right;
        margin-top: 5%;
        margin-right: 10%;
    }
    .desktop-form {
        float: left;
        margin-top: 5%;
        margin-left: 10%;
    }
}


.mobile-canvas {
    margin: auto;
}

form .form-group {
    margin: 15px 0;

}

.form-group {
    margin-bottom: 0;
}
