<div class="container">
    <form id="formId" class="block desktop-form" name="form-check"
          (ngSubmit)="addPoint()" #f="ngForm" novalidate>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
        <div class="form-label" [ngClass]="{ 'has-error': f.submitted}">
            <label for="X_input" class="form-label">X</label>
            <input form="formId" class="form-control" list="datalistOptions" id="X_input" placeholder="Введите X ..." #x
                   (change)="setX(x.value)" required>
            <datalist id="datalistOptions">
                <option value="-2">-2</option>
                <option value="-1.5">-1.5</option>
                <option value="-1">-1</option>
                <option value="-0.5">-0.5</option>
                <option value="0">0</option>
                <option value="0.5">0.5</option>
                <option value="1">1</option>
                <option value="1.5">1.5</option>
                <option value="2">2</option>
            </datalist>
            <div class="invalid-feedback">Введите X</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
            <label for="y">Y</label>
            <input form="formId" class="form-control" id="y" name="password" [(ngModel)]="point.y"
                   #y="ngModel" required/>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted }">
            <label for="rSelect">R</label><br>
            <input form="formId" class="form-control" list="r_select" id="rSelect" placeholder="Введите R ..." #r
                   (change)="drawGraphic(r.value); setR(r.value);"
                   (click)="drawGraphic(r.value); setR(r.value);" required>
            <datalist id="r_select">
                <option value="-2">-2</option>
                <option value="-1.5">-1.5</option>
                <option value="-1">-1</option>
                <option value="-0.5">-0.5</option>
                <option value="0">0</option>
                <option value="0.5">0.5</option>
                <option value="1">1</option>
                <option value="1.5">1.5</option>
                <option value="2">2</option>
            </datalist>
            <div class="invalid-feedback">Введите R</div>
        </div>
        <button class="btn btn-primary h-auto btn-block" type="submit">Check</button>
    </form>
    <div class="">
        <canvas #canvas class="block desktop-canvas" width="300" height="300"
                (click)="addPointFromCanvas()"></canvas>
    </div>
</div>
