/*В данном файле находятся все дополнительные стили для Формы ввода и Канваса*/
form {
    margin-top: 17%;
    padding: 10px 15px;
    width: 310px;
    min-height: 310px;
}

.desktop-form {
    float: left;
    margin-left: 10%;
}

canvas {
    padding: 5px;
    margin: 17% 0;
}

.desktop-canvas {
    float: right;
    margin-right: 10%;
}

.mobile-canvas {
    margin: auto;
}

form .form-group {
    margin: 15px 0;

}

.form-group {
    margin-bottom: 0;
}
