/*В данном файле находятся все дополнительные стили для Таблицы*/
#point-history-card {
  width: 80%;
  letter-spacing: 3px;
  padding: 100px;
  margin-top: 5%;
  margin-bottom: 20%;
}

#point-history-card th, #point-history-card td{
  text-align: center;
  width: 25%;
}

#point-history-card tr{
  height: 32px;
}

.last-cell {
  padding-right: 10px;
}
