<!--Header-->
<nav class="navbar navbar-expand navbar-light bg-light w-100 h-auto">
    <div class="container">
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight align-self-center">
                <img class="profile-img-card-header" src="//ssl.gstatic.com/accounts/ui/avatar_1x.png"/>
            </div>
            <div class="p-2 bd-highlight align-self-center">
                <strong>Username</strong>: {{currentUser.username}}<br>
                <strong>Автор</strong>: Адмакин Максим Александрович P3213<br>
                <strong>Вариант</strong>: 91238<br>
            </div>
        </div>
        <div class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight">
                <button class="btn btn-primary h-auto" (click)="logOut()">LogOut</button>
            </div>
        </div>
    </div>
</nav>
<!--Body-->
<div class="">
    <!--Форма и canvas-->
    <app-check-points></app-check-points>
    <!--Таблица-->
    <app-history></app-history>
</div>
