<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
        <p id="profile-name" class="profile-name-card"></p>

        <form id="data" name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
            <br>
            <!--Поле ввода Username-->
            <span class="p-float-label">
                <input pInputText name="username" class="form-control" id="username" type="text" pInputText [(ngModel)]="user.username" #username="ngModel" required>
                <label for="username">Username</label>
                <!--          pattern="[^ @]*@[^ @]*"-->
                <div *ngIf="f.submitted && !username.valid" class="help-block">

                    <!--          <div *ngIf="username.errors.required">-->
                    <!--            Email is required.-->
                    <!--          </div>-->
                    <div *ngIf="username.errors.pattern">
                        A valid email address is required
                    </div>
                </div>
            </span>
            <br>
            <!--Поле ввода Password-->
            <span class="p-float-label">
                <input pInputText type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password"
                       #password="ngModel" required minlength="4">
                <label for="password">Password</label>
                <div *ngIf="f.submitted && !password.valid" class="help-block">
                    <div *ngIf="password.errors.required">
                        password is required.
                    </div>
                    <div *ngIf="password.errors.minlength">
                        password must be at least 4 characters long.
                    </div>
                </div>
            </span>
            <br>
        </form>
        <button pButton pRipple form="data" type="submit" label="Войти" class="p-button-raised" icon="pi pi-check" iconPos="right"></button>
        <br>
        <button pButton type="button" icon="pi pi-chevron-right" iconPos="right" class="p-button-text" label="Регистрация" [routerLink]="['/auth/register']"></button>
    </div>
</div>
