body, html {
    /*Градиент на фоне*/
    background-image: linear-gradient(270deg, #a2ffe2, #83e1f5);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 50px auto 0 auto;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-img-card-header {
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.flex-g-center {
    display: block;
    justify-content: center;
    margin: auto;
}

/*Смена расцветки таблицы при переключении режимов с десктопного, планшетного и мобильного*/
/*Мобильный*/
@media screen and (max-width: 672px) {
    .block {
        background: #dcefac;
        border-radius: 5px;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: black 0 5px 10px;
    }
}
/*Планшетный*/
@media screen and (min-width: 672px) and (max-width: 1100px)  {
    .block {
        background: #a7bbff;
        border-radius: 5px;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: black 0 5px 10px;
    }
}
/*Десктоп*/
@media screen and (min-width: 1100px) {
  .block {
    background: #f1f1f1;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: black 0 5px 10px;
  }
}
